-
  const color1 = "#FFFFFF";
  const color2 = "#C2B59B";
  const color3 = "#735120";

svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 50 50')
  g#snooze
    path.snooze-1(fill=color3, fill-opacity="0.7", d='M10.3,13.6v-1l4.5-5.5c-0.5,0-1,0-1.4,0h-2.9v-1h5.8v0.8l-3.8,4.8l-0.7,0.9c0.5,0,1-0.1,1.5-0.1h3.3v1.1H10.3z')
    path.snooze-2(fill=color3, fill-opacity="0.5", d='M3.9,10V9.1l3.7-4.5c-0.4,0-0.8,0-1.1,0H4.1V3.8h4.8v0.7L5.7,8.4L5.1,9.1c0.4,0,0.9-0.1,1.2-0.1h2.7V10H3.9z')
    path.snooze-3(fill=color2, fill-opacity="0.7", d='M15.6,4.3V3.9l1.9-1.7c-0.2,0-0.4,0-0.6,0h-1.2V1.9h2.5v0.3l-1.7,1.5l-0.3,0.3c0.2,0,0.4,0,0.7,0h1.4v0.3H15.6z')

  path#body(fill=color2, d='M21.5,30.5c-1.1,0.8-2.8,1.3-3.2,1.1c-0.7-0.2,1.2-1.5,1.2-1.5c0,0-3.1,0.2-4,3c-0.4,1.3-0.4,4,0.7,5.1c1.1,1.1,2.9,2.1,4,2.7c1.2,0.6,2.3,1.7,3.1,2.2c0.6,0.4,1.1,2.3,1.4,3.2c0.2,0.5,0.9,1.5,1.6,1.6c0.4,0,1.2,0,1.6-0.3c0.5-0.4,0.7-1.3,0.7-1.9v-2.6c0-0.3,0.3-0.6,0.6-0.9c0.9-0.8,3.5-1.8,4.6-2c0.7-0.1,3.6,0.5,4.8,0.7c0.3,0.1,2.6,0.2,2.9-0.3c0.6-1.3,1.8-4.3,2-5.5c0.2-0.7-0.1-1.2-2.6-0.1c-1,0.4-1.8,2.1-2.1,1.9c-0.5-0.4-3-1.5-2.8-2.3c0.6-2.4-0.2-2.3,0.5-4.3c0,0-1.1,0.2-1.6,0.1c-0.8-0.1-11-3.9-11-3.9S23.1,29.5,21.5,30.5z')
  path#left-paw.left-paw(fill=color3, d='M27.2,32c-0.5,0.2-0.1,2.1-0.1,2.1s0.2,1.3,0.6,1.3c0.6,0,0.8-1.6,0.6-2.1C28.2,32.8,27.6,31.8,27.2,32z')
  path#tail(fill=color3, d='M23.9,26.9c0-0.1,0-0.2,0-0.1C23.9,26.8,23.8,26.8,23.9,26.9c-0.2,0-0.5,0.1-0.5,0.2c0,0.1,0.1,0.5,0.2,0.5c-0.1,0.1-0.1,0.3-0.2,0.4c-0.1-0.1-0.3-0.1-0.4,0c0,0.1,0,0.3,0.1,0.5c-0.1,0.2-0.2,0.3-0.3,0.4c-0.2,0-0.4,0-0.4,0c0,0.1,0,0.3,0.1,0.4c-0.1,0.2-0.3,0.3-0.4,0.5c-0.2,0-0.4,0-0.4,0.1c0,0,0,0.2,0,0.3c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0-0.3,0-0.4,0c0,0,0,0.2,0,0.3c-0.2,0.1-0.3,0.2-0.5,0.3c-0.1,0-0.1-0.1-0.1-0.1c0,0-0.1,0.1-0.1,0.2c-1,0.5-1.9,0.6-2.2,0.5c-0.3-0.2,1.2-1.4,1.1-1.3c-0.2,0.1-2.4,1.2-1.4,2.4c0.3,0.4,1.5,0.5,2.7-0.4c2.3-1.9,3.1-4.1,3.3-5.1c0,0,0.1-0.1,0.1-0.2C23.9,26.9,23.9,26.9,23.9,26.9z')
  path#left-foot-shadow(fill=color3, d='M43.4,34.8c-0.5,0-0.5,0.1-0.7,0.2c-1.3,0.9-3.1,5.9-2.3,6.2c0.1,0,0.8,0,1-0.3C42.2,39.1,43.7,34.8,43.4,34.8z')
  path#right-foot-shadow(fill=color3, d='M27.9,44.1c-0.4-0.2-1.2,0-1.4,0.1c-1.3,0.9-1.1,3.6-0.3,3.8c0.1,0,1.6-0.1,1.8-0.4C28.8,46,28.3,44.3,27.9,44.1z')

  g#belly
    path(fill=color3, d='M37.4,32.5c-0.1-0.4-0.7-1.4-1.1-1.3c0,0,0,0-0.1,0.1c0-0.4,0.1-0.7,0.2-0.9c-0.1,0.2-0.5,0.4-1.7,0.1c-3-0.7-7.9-2.7-9.9-3.5c6,2.6,3.6,4.7,3.9,11c0.1,1.4-0.2,4.1-0.2,4.7c-0.3-0.4-1.2-1.6-2.6-2c-1.2-0.3-1.6,1.2-2.7,1.1c-1.2-0.1-2.6-0.7-3.5-1.1c1.3,0.8,3.3,2.1,3.5,2.4c1.1,1.5,1.1,2.2,1.1,2.2c-0.5-6.9,3.4-3.4,4.2-2.6c0,0.1,0,0.1,0.1,0.1c1-0.8,3.2-2.4,5.4-2.5c1.5-0.1,1.7-2.7,2.1-5.6c0.1-0.6,0.1-1.1,0.1-1.6c0,0.2,0.1,0.3,0.1,0.3s0.2,1.3,0.6,1.3C37.3,34.6,37.5,33.1,37.4,32.5z')
    path(fill=color3, d='M19.7,40.8c-0.4-0.2-0.7-0.4-0.9-0.5C18.8,40.3,19.2,40.5,19.7,40.8z')
    path(fill=color3, d='M24.7,27.1c-0.3-0.1-0.6-0.2-0.9-0.4C23.8,26.7,24.1,26.8,24.7,27.1z')
    path(fill=color3, d='M36.4,30.4c0-0.1,0-0.1,0-0.1C36.4,30.3,36.4,30.4,36.4,30.4z')

  g#head.head
    path(fill=color2, d='M39.1,23.5c0.5-0.2,6.7-6.7,6.9-10.7c0,0,0.5-3.9-0.7-6.4c-1.1-2.3-9.4-2.1-13.5-0.6C29.3,6.6,25.5,8.2,20,9.1c-1,0.2-3.2,2.1-2.6,4.5c0.3,1.3,0.5,1.6,0.7,2.7c0.4,2.7,0.8,5.8,1.1,7.7c0.1,1.3,0.3,1.6,0.4,1.6c0.5,0.2,1.1-0.2,2.3-0.3C22,25.3,38,24,39.1,23.5z')
    g#nose
      path(fill=color3, d='M40.8,6.6c0,0.3,0.7,0.4,0.9,0.3c0.1-0.1,0.4-0.3,0.2-0.5C41.7,6.3,40.8,6.2,40.8,6.6z')
      path(fill=color3, d='M44.8,6.5c-0.2-0.1-0.5-0.3-0.6,0.1c0,0.3,0.4,0.4,0.5,0.3C44.8,6.8,44.9,6.7,44.8,6.5z')
    g#eye
      path#olho_3_(fill=color1, d='M19.1,10.8c-0.5,0.4-1.3,2-0.5,2.9c0.7,0.7,3.4-1.3,2.7-2.9C20.9,9.9,19.5,10.4,19.1,10.8z')
      path(fill=color3, d='M18.7,12c0.5,0.2,1.3,0.4,1.7,0.1c0.2-0.2,0.4-0.7,0.2-1.2l0.3-0.1c0.4,0.6,0.1,1.3-0.2,1.6c-0.4,0.4-1.4,0.4-2.3-0.1L18.7,12z')
    g#mouth
      path#upper-mouth-shadow(fill=color3, d='M19.6,25.6c-1.5-3.8,11.6-11.5,16.7-13.1c2-0.7,8.4-2,9.4-0.1c1.5,2.7-6.9,11.1-6.9,11.1L19.6,25.6z')
      g#upper-teeth
        path(fill=color1, d='M30.1,15.6c-0.2-0.1-2,1-1.9,1.2c0.2,0.4,1.4,0.9,1.7,0.8C30.3,17.6,30.6,15.7,30.1,15.6z')
        path(fill=color1, d='M33.1,14c-0.2-0.1-1.9,0.8-1.8,1c0.2,0.4,1.4,0.9,1.7,0.8C33.3,15.8,33.5,14.2,33.1,14z')
        path(fill=color1, d='M33.8,13.9c0.1,0.5,0.9,1.2,1.5,1.1c0.6-0.1,0.8-1.9,0.4-2.1C35.6,12.8,33.7,13.7,33.8,13.9z')
        path(fill=color1, d='M36.1,12.8c0,0.5,1.5,1.3,1.8,1.3c0.3,0,1.1-1.8,0.7-2C38.4,12,36.1,12.6,36.1,12.8z')
        path(fill=color1, d='M38.8,12.1c0,0.5,1.1,1.4,1.3,1.4c0.6,0,0.9-1,0.7-1.7C40.9,11.7,38.8,11.9,38.8,12.1z')
        path(fill=color1, d='M41,11.8c0,0.5,0.9,1.4,1.2,1.5c0.3,0.1,1.6-1.3,1.3-1.6C43.3,11.5,41,11.6,41,11.8z')
        path(fill=color1, d='M45.6,12.4c-0.5-0.4-1.2-0.8-2.1-0.6c0,0,0.2,1.7,0.7,2C44.5,13.8,46,12.7,45.6,12.4z')
        path(fill=color1, d='M27.2,17.3c-0.2,0-1.9,1.1-1.9,1.3c0,0.5,1.6,0.8,1.9,0.7C27.5,19.3,27.6,17.4,27.2,17.3z')
      path#bottom-mouth(fill=color2, d='M19.6,25.6c6.5,1.6,13.3,5,15.7,5.1c1.2,0,1.9-0.6,2.9-0.7c1-0.2,2.3-0.3,3.1-1c0.4-0.4,0.9-1.9,0.8-2.5c-0.2-1.3-2.3-2.3-3.1-3.1C38.5,23.1,19.6,25.6,19.6,25.6z')
      path#bottom-mouth-shadow(fill=color3, d='M19.6,25.6c0,0,9.6-1.6,12.7-2.2c3-0.6,6.5,0,6.5,0c1,0.1,2.8,2.3,2.5,3.3c-0.3,1-2.8,1.3-3.8,1.4C28.5,28.9,29.9,25.6,19.6,25.6z')
      g#below-teeth
        path(fill=color1, d='M25.7,25.6c0,0.3,1.7,1.2,1.8,0.7c0.1-0.6-0.1-1.6-0.3-1.8C26.7,24.3,25.7,25.1,25.7,25.6z')
        path(fill=color1, d='M29.8,25.5c-0.5-0.1-2.1,0.3-2.1,0.9c0,0.3,2.3,1.1,2.4,0.6C30.2,26.4,30.1,25.6,29.8,25.5z')
        path(fill=color1, d='M31.9,25.6c-0.5-0.3-1.7,0.5-1.8,1.1c0,0.3,2.1,1.2,2.3,0.8C32.6,26.9,32.5,26,31.9,25.6z')
        path(fill=color1, d='M34.6,26.2c-0.5-0.2-1.6,0.5-1.7,1.1c0,0.3,2,0.8,2.2,0.4C35.3,27.2,35,26.4,34.6,26.2z')
        path(fill=color1, d='M37,26.4c-0.5,0-1.2,0.7-1.2,1.2c0,0.3,2.1,0.3,2.3-0.1C38.2,26.9,37.6,26.4,37,26.4z')
        path(fill=color1, d='M39.7,26.4c-0.4-0.2-0.9,0.5-1,1c0,0.3,1.6,0.1,1.7-0.3C40.3,26.8,39.8,26.4,39.7,26.4z')
        path(fill=color1, d='M41.1,24.9c-0.2-0.2-0.6-0.1-0.9,0.4c-0.1,0.1,0.2,0.2,0.4,0.4c0.3,0.4,0.5,0.9,0.6,0.6C41.4,25.5,41.4,25.2,41.1,24.9z')
        path(fill=color1, d='M40,25c0.3,0.1,0-1-0.2-1.2c-0.2-0.2-1.1-0.1-1.2,0.3c-0.1,0.2,0.2,0.2,0.7,0.4C39.5,24.6,39.7,24.9,40,25z')
